@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
body {
    background-color: #131316;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;

    background-image: url(https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExYWpwc3pmdWM0emJ1NTZmc3BlNWdmdDdyM21xNjRzcmVhNXdueWd1ayZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3oEjHZzPiemz0hjtdK/giphy.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    
}


/*.hero {
   display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
}

.video-bg {
    position: absolute;
    top:0;
    left:0;
    min-width: 100%;
    min-height: 100%;
}*/

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.logos {
    display: flex
}

.logo:nth-child(2) {
    transition-delay: 200ms;
}

.logo:nth-child(3) {
    transition-delay: 400ms;
}

.logo:nth-child(4) {
    transition-delay: 600ms;
}

.bob {
    display: flex
}
